awscli
boto3
botocore
langchain==0.3.26
langchain_aws==0.2.27
langgraph>=0.3.5,<0.4.0
langchain-community==0.3.26
langgraph-swarm==0.0.11
certifi==2025.7.14
langchain-mcp-adapters
mcp==1.12.0
langfuse==3.2.1
numpy<2,>=1.26.0
pandas==2.1.3